<div class="container">
  <h1>Eat a Burger, Burger Punk!</h1>
    {{#each burgers}}
    {{#unless burger_eaten}}
      {{> burgers/burger-status burger_eaten=true}}
    {{/unless}}
  {{/each}}
</div>

<div class="container">
  <h2>Burgers to eat!</h2>
    {{#each burgers}}
    {{#if burger_eaten}}
      {{> burgers/burger-status burger_eaten=false}}
    {{/if}}
  {{/each}}
</div>


<div class="container">
  <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">    
        <label for="ca">Burger:</label>
        <input type="text" id="ca" name="name">
      </div>
      <button type="submit">Add Burger</button>
</form>
</div>